<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="fs-5 fw-bold mb-0">Usulan Inisiatif Walikota Tahun <%= @tahun %></h2>
    </div>
    <% if !guest? && super_admin? %>
      <div class="col-auto d-flex gap-2">
        <%= link_to new_inovasi_path(tahun: @tahun, opd: @kode_opd),
                    remote: true,
                    data: {
                      controller: 'form-modal',
                      action: 'ajax:complete->form-modal#success:prevent',
                      bs_toggle: 'modal',
                      bs_target: '#form-modal'
                    }, class: "btn btn-sm btn-info" do %>
          <i class="fa fa-plus me-2"></i>
          <span>Tambah Usulan</span>
        <% end %>
        <%= link_to clone_program_unggulans_clone_index_path(tahun: @tahun), remote: true,
                    data: {
                      controller: 'form-modal',
                      action: 'form-modal#appendForm',
                      form_modal_location_param: 'form-modal-body',
                      bs_toggle: 'modal',
                      bs_target: '#form-modal'
                    },
                    class: "btn btn-sm btn-primary" do %>
          <i class="fa fa-clone me-2"></i>
          <span>Clone</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered counter">
      <thead class="thead-light">
        <tr>
          <th class="border-bottom text-gray-700" scope="col">No.</th>
          <th class="border-bottom text-gray-700" scope="col">Tahun</th>
          <th class="border-bottom text-gray-700" scope="col" style="min-width: 500px">Program Unggulan Walikota</th>
          <th class="border-bottom text-gray-700" scope="col">ASTA KARYA</th>
          <th class="border-bottom text-gray-700" scope="col" style="min-width: 500px;">Misi Walikota</th>
          <th class="border-bottom text-gray-700" scope="col">Tagging</th>
          <th class="border-bottom text-gray-700" scope="col" style="min-width: 300px">Uraian 100 Hari Kerja</th>
          <th class="border-bottom text-gray-700" scope="col" style="min-width: 300px">Uraian</th>
          <th class="border-bottom text-gray-700" scope="col">Pengusul</th>
          <th class="border-bottom text-gray-700" scope="col">Opd Lead</th>
          <th class="border-bottom text-gray-700 text-center" scope="col">Status</th>
          <th class="border-bottom text-gray-700 text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="new_inovasi">
        <%= render @inovasis %>
      </tbody>
    </table>
  </div>
</div>
