<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="fs-5 fw-bold mb-0">Usulan Inisiatif Walikota Tahun <%= @tahun %></h2>
    </div>
    <% unless guest? || !super_admin? %>
      <div class="col text-end">
        <%= link_to "Tambah Usulan", new_inovasi_path(tahun: @tahun),
                    remote: true,
                    class: "btn btn-sm btn-info",
                    data: {
                      controller: 'form-modal',
                      action: 'ajax:complete->form-modal#success:prevent',
                      bs_toggle: 'modal',
                      bs_target: '#form-modal'
                    }
        %>
      </div>
    <% end %>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered counter" data-datatable>
      <thead class="thead-light">
        <tr>
          <th class="border-bottom text-gray-700" scope="col">No.</th>
          <th class="border-bottom text-gray-700" scope="col">Tahun</th>
          <th class="border-bottom text-gray-700" scope="col">Program Unggulan Walikota</th>
          <th class="border-bottom text-gray-700" scope="col">ASTA KARYA</th>
          <th class="border-bottom text-gray-700" scope="col">Misi Walikota</th>
          <th class="border-bottom text-gray-700" scope="col">Uraian</th>
          <th class="border-bottom text-gray-700" scope="col">Pengusul</th>
          <th class="border-bottom text-gray-700" scope="col">Opd</th>
          <th class="border-bottom text-gray-700 text-center" scope="col">Status</th>
          <th class="border-bottom text-gray-700 text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="new_inovasi">
        <%= render @inovasis %>
      </tbody>
    </table>
  </div>
</div>
