<% presenter = PohonKinerjaPresenter.new(pohon) %>
<div class="pohon">
  <%= render partial: 'cetaks/opd/pokin/item_pokin_title_cetak', locals: { pohon: presenter } %>
  <%= render partial: 'cetaks/opd/pokin/item_pokin_body_cetak', locals: { pohon: presenter } %>
  <%= render partial: 'cetaks/opd/pokin/item_pokin_indikators_cetak', locals: { pohon: presenter } %>
</div>
