<% presenter = PohonKinerjaPresenter.new(pohon) %>
<li>
  <div class="tf-nc pokin <%= presenter.warna_pohon %>" id="<%= dom_id(pohon) %>">
    <%= render partial: 'cetaks/opd/pokin/item_pokin_cetak', locals: { pohon: pohon } %>
  </div>
  <%# self-render childs in helper %>
  <% if pohon.role != 'eselon_4' %>
    <ul class="childs">
      <%= render partial: 'cetaks/opd/pokin/pokin_cetak', collection: childs(pohon), as: :pohon %>
    </ul>
  <% end %>
</li>
