// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
// volt
@import "../stylesheets/volt/volt.scss";
// @import "~chartist/dist/scss/chartist.scss";
@import "~select2/src/scss/core.scss";
@import "~select2-bootstrap-5-theme/src/include-all";

// @import "../stylesheets/actiontext.scss";
@import "../stylesheets/anggarans.scss";

.field {
  @extend .my-3;
}

.form-label {
  @extend .form-label;
  @extend .my-2;
  font-weight: bolder;
}

.form-field-container {
  @extend .card;
  @extend .border-0;
  @extend .shadow;
  @extend .p-3;
  @extend .mb-3;
}

input[name="commit"] {
  @extend .btn;
  @extend .btn-tertiary;
  @extend .w-100;
  @extend .mt-5;
}

form {
  @extend .mt-2;
}

td.wrap-text {
  white-space: normal;
}

.higlighted {
  background-color: #e9e504;
}

.text-dark {
  color: #000000 !important;
}

.w-35 {
  width: 35% !important;
}

.sasaran-opd {
  background-color: #b22222;
}

.tujuan-opd {
  background-color: #EB1D36;
}

.sasaran-kabid {
  background-color: #277BC0;
}

.sasaran-kota {
  background-color: #FECD70;
  color: #000000;
}

.indikators-sasaran-kota {
  background-color: #7FB77E;
}

.tujuan-kota {
  background-color: #A77979;
}

.indikators-tujuan-kota { 
  background-color: #472D2D;
}

.nama-opd {
  background-color: #483838;
}
#pokin-cetak {
        width: 100%;
        height: 80%;
        background-color: 'white';
}

#pokin {
        border: 1px solid blue;
        width: 100%;
        height: 650px;
        background-color: 'white';

}
.pohon-kinerja {
        border: 1px solid blue;
        width: 100%;
        height: 450px;
        background-color: 'white';
}

.pohon-kinerja-print {
        border: 1px solid blue;
        width: 100%;
        height: 750px;
        background-color: 'white';
}

.global_filter {
        font-size: 0.75rem;
}
.filter-form {
        width: 450px;
        .tahun_sasaran {
                width: 45px;
        }
}
// .table td {
//   white-space: normal;
// }
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rekap_pokin_separator {
background: repeating-linear-gradient(
  -55deg,
  #222,
  #222 10px,
  #333 10px,
  #333 20px
);border: 0
}
.isu-strategis-kota {
  background-color: #6DA9E4;
}
.strategi-kota {
  background-color: #00FFF6;
}
.strategic-objective {
  background-color: #B73239;
  color: #EEE2DE;
}
.tactical-objective {
  background-color: #0B5394;
  color: #EEE2DE;
}
.tactical-objective-2 {
  background-color: #6391BA;
  color: #EEE2DE;
}
.operational-objective {
  background-color: #93C47D;
}
.operational-objective-2 {
  background-color: #FFFF00;
}

td[data-subkegiatan="belum diisi"] {
  background-color: #B73239;
  color: #EEE2DE;
}

td[data-tahun-pelaksanaan*="success"] {
  border: 5px solid #38E54D !important;
}
td.spbe-kebutuhan:empty {
  background-color: #B73239;
  color: #EEE2DE;
}
td.spbe-kebutuhan:empty::after {
  content: 'Belum diisi';
}
::placeholder {
  font-weight: lighter;
  opacity: 0.5;
  color: red;
}
