$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/_mixins.scss";
@import "~@fortawesome/fontawesome-free/scss/_variables.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
// volt
@import "../stylesheets/volt/volt.scss";
// @import "~chartist/dist/scss/chartist.scss";
@import "~select2/src/scss/core.scss";
@import "~select2-bootstrap-5-theme/src/include-all";

// @import "../stylesheets/actiontext.scss";
@import "../stylesheets/anggarans.scss";

.field {
  @extend .my-3;
}

.form-label {
  @extend .form-label;
  @extend .my-2;
  font-weight: bolder;
}

.form-field-container {
  @extend .card;
  @extend .border-0;
  @extend .shadow;
  @extend .p-3;
  @extend .mb-3;
}

input[name="commit"] {
  @extend .btn;
  @extend .btn-tertiary;
  @extend .w-100;
  @extend .mt-5;
}

form {
  @extend .mt-2;
}

td.wrap-text {
  white-space: normal;
}

.higlighted {
  background-color: #ff55bb;
}

.text-dark {
  color: #000000 !important;
}

.w-35 {
  width: 35% !important;
}

.sasaran-opd {
  background-color: #b22222;
}

.tujuan-opd {
  background-color: #eb1d36;
}

.sasaran-kabid {
  background-color: #277bc0;
}

.sasaran-kota {
  background-color: #fecd70;
  color: #000000;
}

.indikators-sasaran-kota {
  background-color: #7fb77e;
}

.tujuan-kota {
  background-color: #a77979;
}

.indikators-tujuan-kota {
  background-color: #472d2d;
}

.nama-opd {
  background-color: #483838;
}

#pokin-cetak {
  width: 100%;
  height: 80%;
  background-color: "white";
}

#pokin {
  border: 1px solid blue;
  width: 100%;
  height: 650px;
  background-color: "white";
}

.pohon-kinerja {
  border: 1px solid blue;
  width: 100%;
  height: 450px;
  background-color: "white";
}

.pohon-kinerja-print {
  border: 1px solid blue;
  width: 100%;
  height: 750px;
  background-color: "white";
}

.global_filter {
  font-size: 0.75rem;
}

.filter-form {
  width: 450px;

  .tahun_sasaran {
    width: 45px;
  }
}

// .table td {
//   white-space: normal;
// }
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rekap_pokin_separator {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  border: 0;
}

.isu-strategis-kota {
  background-color: #6da9e4;
}

.strategi-kota {
  background-color: #00fff6;
}

.strategic-objective {
  background-color: #b73239;
  color: #eee2de;
}

.tactical-objective {
  background-color: #0b5394;
  color: #eee2de;
}

.tactical-objective-2 {
  background-color: #6391ba;
  color: #eee2de;
}

.operational-objective {
  background-color: #93c47d;
}

.operational-objective-2 {
  background-color: #ffff00;
}

td[data-subkegiatan="belum diisi"] {
  background-color: #b73239;
  color: #eee2de;
}

td[data-tahun-pelaksanaan="success"] {
  background-color: #38e54d;

  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-check);
  }
}

td[data-tahun-pelaksanaan="success"] + td[data-tahun-pelaksanaan] {
  background-color: #38e54d;

  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-check);
  }
}

td[data-tahun-akhir-pelaksanaan="success"] {
  background-color: #38e54d;

  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-check);
  }
}

td.spbe-kebutuhan:empty {
  background-color: #b73239;
  color: #eee2de;

  &:after {
    content: "Belum diisi";
  }
}

td[data-pendidikan="true"] {
  @extend .text-center;

  &:before {
    @extend %fa-icon;
    @extend .fas;
    @extend .text-success;
    content: fa-content($fa-var-check);
  }
}

td[data-pendidikan="false"] {
  @extend .text-center;

  &:before {
    content: "-";
  }
}

td[data-status-kondisi="true"] {
  @extend .text-center;

  &:before {
    @extend %fa-icon;
    @extend .fas;
    @extend .text-success;
    content: fa-content($fa-var-check);
  }
}

td[data-status-kondisi="false"] {
  @extend .text-center;

  &:before {
    content: "-";
  }
}

input::placeholder {
  font-weight: lighter;
  opacity: 0.5;
  color: red;
}

.tf-tree.show ul {
  width: max-content;
}

.pokin-box {
  width: 500px;
}

.pokin-user-box {
  width: 250px;
}

.pohon-title {
  border: 1px solid black;
  padding: 0.5rem;
}

.pohon-body {
  // border-bottom: 1px solid black;
  padding: 1rem 0;

  table {
    background-color: white;
    border: black;
    color: black;
  }
}

.pohon-tombol {
  border: 1px solid black;
  padding: 0.6rem 0.5rem;
}

.pohon-foot {
  padding: 0.6rem 0.5rem;
}

.pohon-accepted {
  @extend .border;
  @extend .border-success;

  h5:after {
    @extend .mx-3;
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-check);
    color: #38e54d;
  }
}

.pohon-crosscutting {
  @extend .border;
  @extend .border-info;

  h5:after {
    @extend .mx-3;
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-puzzle-piece);
  }
}

.pohon-rejected {
  @extend .border;
  @extend .border-danger;

  h5:after {
    @extend .mx-3;
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-times);
    color: #b73239;
  }
}

table.counter {
  counter-reset: rowNumber;

  tbody {
    tr:not(.skip) {
      counter-increment: rowNumber;

      td:first-child::before {
        content: counter(rowNumber);
      }
    }
  }
}

#error_explanation {
  background-color: rgba(255, 20, 20, 0.2);
  padding: 0.25em;
}

.strategic-pohon,
.strategi-pohon {
  background-color: #b73239;

  .pohon {
    color: #eee2de;

    .pohon-title {
      border-color: #eee2de;

      h5 {
        color: #eee2de;
      }
    }

    .pohon-body {
      table {
        background-color: white;
        border: black;
        color: black;
      }
    }

    .btn-outline-pohon {
      border-color: #eee2de;
      color: #eee2de;

      &:hover,
      &:active {
        background-color: #1f2937;
      }
    }

    .pohon-tombol {
      background-color: whitesmoke;
    }
  }
}

.tactical-pohon {
  border: 1px solid black;
  background-color: #0b5394;

  .pohon {
    color: #eee2de;

    .pohon-title {
      border-color: #eee2de;

      h5 {
        color: #eee2de;
      }
    }

    .pohon-body {
      table {
        background-color: white;
        border: black;
        color: black;
      }
    }

    .btn-outline-pohon {
      border-color: #eee2de;
      color: #eee2de;

      &:hover,
      &:active {
        background-color: #1f2937;
      }
    }

    .pohon-tombol {
      background-color: whitesmoke;
    }
  }
}

.operational-pohon {
  background-color: #93c47d;

  .pohon {
    color: black;

    .pohon-title {
      border-color: black;

      h5 {
        color: black;
      }
    }

    .pohon-body {
      table {
        background-color: white;
        border: black;
        color: black;
      }
    }

    .btn-outline-pohon {
      border-color: black;

      &:hover,
      &:active {
        background-color: #1f2937;
        color: #eee2de;
      }
    }

    .pohon-tombol {
      background-color: whitesmoke;
    }
  }
}

.pohon-form {
  .pohon-title {
    background-color: white;
  }

  .pohon-body {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: white;
  }
}

.pokin {
  width: 550px;
}

.fading {
  animation: fade 15s forwards;
  background-color: rgba(242, 245, 169, 1);
}

@keyframes fade {
  from {
    background-color: rgba(242, 245, 169, 1);
  }

  to {
    background-color: rgba(242, 245, 169, 0);
  }
}

.sasaran_opd {
  @extend .table-danger;
}

.sasaran_program {
  @extend .table-info;
}

.sasaran_kegiatan {
  @extend .table-success;
}

.inner-table {
  border-collapse: collapse;
}

tr.border-none {
  border-bottom: hidden;
}
