table,
th,
td {
  // border: 1px solid black;
  border-collapse: collapse;
}

// table {
//   width: 100%;
// }
.border {
  border: 1px solid !important;
}

.bidang-urusan {
  td {
    background-color: #d81c45 !important;
    border-color: #000000 !important;
    color: white !important;
  }
}

.program {
  td {
    background-color: #225dc6 !important;
    border-color: #000000 !important;
    color: white !important;
  }
}

.kegiatan {
  td {
    background-color: #2CA58D !important;
    border-color: #000000 !important;
    color: white !important;
  }
}

.subkegiatan {
  td {
    background-color: aliceblue !important;
    border-color: #000000 !important;
  }
}

.title-one {
  font-size: 18px !important;
  letter-spacing: 3px !important;
}

.title-two {
  font-size: 16px !important;
  letter-spacing: 1px !important;
  font-weight: bold !important;
}

.alwaysbreak {
  page-break-before: always;
}

.nobreak:before {
  clear: both;
}

.nobreak {
  page-break-inside: avoid;
}

.table {
  page-break-after: auto;


  tr {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  .thead-bidang-urusan {
    th {
      background-color: #d81c45;
      border-color: #000000;
    }
  }

  .thead-program {
    th {
      background-color: #225dc6;
      border-color: #000000;
    }
  }

  .thead-kegiatan {
    th {
      background-color: #2CA58D;
      border-color: #000000;
    }
  }

  .thead-subkegiatan {
    th {
      background-color: #10B981;
      border-color: #000000;
    }
  }
}