<% if @nik_asli.blank? %>
    <div class="p-3">
        <div class="row align-items-center border border-primary border-collapse">
            <div class="col-auto">
                <i class="far fa-lightbulb"></i>
            </div>
            <div class="col text-wrap border-start border-primary p-3">
                <div class="row p-2">
                    NIK KEPALA OPD BELUM DIINPUT.
                </div>
                <div class="row">
                    <%= link_to "KLIK DISINI UNTUK INPUT", info_opds_path, class: "text-info underline"  %>
                </div>
            </div>
        </div>
    </div>
<% elsif !@nik_valid_for_tte %>
    <div class="p-3">
        <div class="row align-items-center border border-primary border-collapse">
            <div class="col-auto">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="col text-wrap border-start border-primary p-3 text-danger">
                <div class="row p-2">
                    NIK KEPALA OPD TIDAK VALID UNTUK TTE.
                </div>
                <div class="row">
                    <%= link_to "KLIK DISINI UNTUK UPDATE", info_opds_path, class: "text-info underline"  %>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <%= render 'form', tte_document: @tte_document %>
<% end %>
