<td class="text-gray-900 fw-bolder align-middle" id="<%= pagu_anggaran.kode %>" scope="row">Rp. <%= number_with_delimiter(pagu_anggaran.anggaran) %></td>
<td class="text-gray-900 fw-bolder align-middle" scope="row"><%= pagu_anggaran.keterangan %></td>