<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <h4 class="card-title">
      Dasar Hukum 
    </h4>
    <div class="link-tambah">
      <%= link_to 'Tambah Dasar Hukum', new_sasaran_dasar_hukum_path(sasaran), remote: true, class: 'btn btn-primary',
          data: {'bs-toggle': 'modal', 'bs-target': '#form-dasarhukum'} %>
    </div>
  </div>
  <% unless sasaran.dasar_hukums.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Peraturan terkait</th>
              <th>Uraian</th>
              <th class="text-center align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            <% sasaran.dasar_hukums.order(:updated_at).each do |dashu| %>
              <tr>
                <td class="align-middle text-wrap"><%= dashu.judul %></td>
                <td class="align-middle"><%= dashu.peraturan %></td>
                <td class="text-center align-middle">
                  <%= link_to 'Edit Dasar Hukum', edit_sasaran_dasar_hukum_path(sasaran,dashu), remote: true, class: 'btn btn-outline-info text-center',
                  data: {'bs-toggle': 'modal', 'bs-target': '#form-dasarhukum'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
