<div class="card border-2 shadow mb-3" id="<%= dom_id(sasaran, 'dasar-hukum') %>">
  <div class="card-header">
    <h4 class="card-title">
      Dasar Hukum
      <span class="ms-2"><%= sesuai?(sasaran.dasar_hukum?) %></span>
    </h4>
    <% unless diajukan? %>
      <div class="link-tambah">
        <%= link_to new_sasaran_dasar_hukum_path(sasaran),
                    remote: true,
                    class: 'btn btn-primary',
                    data: {
                      controller: 'form-modal',
                      action: 'form-modal#appendForm',
                      form_modal_location_param: 'form-modal-body',
                      bs_target: '#form-modal',
                      bs_toggle: 'modal'
                    } do %>
          <span>Tambah Dasar Hukum</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered counter">
        <thead>
          <tr>
            <th width="20px">No.</th>
            <th>Peraturan terkait</th>
            <th>Uraian</th>
            <th class="text-center align-middle">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% sasaran.dasar_hukums.order(:updated_at).each do |dasar_hukum| %>
            <%= render 'dasar_hukums/row_dasar_hukum_card', dasar_hukum: dasar_hukum, sasaran: sasaran %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
