<tr class="<%= @warna_row %> indikator">
    <td class="text-wrap ind-indikator"><%= indikator %></td>
    <td class="text-center ind-target"><%= target %></td>
    <td class="text-center ind-satuan"><%= satuan %></td>
</tr>
