<tr class="<%= warna_row %>">
    <td colspan="5" class="program text-wrap text-start fw-bolder">
        Program <%= nomor %> -  <%= nama_program %>
    </td>
    <td colspan="2" class="pagu-program">
        <%= pagu_program %>
    </td>
</tr>
