<tr class="<%= warna_row %>">
    <td colspan="5" class="subkegiatan text-wrap text-start fw-bolder">
        Subkegiatan: <%= nama_subkegiatan %>
    </td>
    <td colspan="2" class="pagu-rekin">
        <%= pagu_subkegiatan %>
    </td>
</tr>
