<tr class="<%= warna_row %>">
    <td colspan="5" class="urusan text-wrap text-start fw-bolder">
        Urusan <%= nomor %> - <%= nama_urusan %>
    </td>
    <td colspan="2" class="pagu-urusan">
        Rp. pagu
    </td>
</tr>
