<td class="text-gray-900 text-wrap border"><%= indikator %></td>
<td class="text-gray-900 text-wrap border"><%= target %></td>
<td class="text-gray-900 text-wrap border"><%= satuan %></td>
<td class="text-gray-900 text-wrap border"><%= pagu %></td>
