<%= link_to @path,
  method: :delete,
  remote: true,
  class: 'btn btn-sm btn-danger',
  data: {
    controller: 'form-ajax',
    form_ajax_element_id_value: dom_id(@model),
    confirm_swal: @text,
    action: 'ajax:success->form-ajax#ajaxDelete'
  } do %>
  <i class="fas fa-trash"></i>
  <span>Hapus</span>
<% end %>
