<%= link_to @path,
  remote: true, 
  class: 'btn btn-sm btn-outline-info',
  data: {
    action: 'ajax:complete->row#editRow:prevent',
  } do %>
    <span class="fas fa-pencil-alt me-2"></span>
    <span><%= @title %></span>
<% end %>