<%= link_to @path,
            remote: true, class: btn_style,
            data: { controller: 'form-modal',
              action: 'form-modal#appendForm',
              form_modal_location_param: 'form-modal-body',
              bs_target: '#form-modal',
              bs_toggle: 'modal' } do %>
  <%= content_tag :span, '', class: btn_icon %>
  <span><%= @title %></span>
<% end %>
