<% if @head %>
  <%= render(HeaderRenjaComponent.new(title: title, indikator: with_indikator?)) %>
<% end %>
<tr>
  <td class="text-gray-900 text-wrap border"><%= kode %></td>
  <td class="text-gray-900 text-wrap border" width="450px"><%= nama %></td>
  <td class="border" scope="col" colspan="3"></td>
  <td class="text-gray-900 border" width="250px"><%= pagu %></td>
</tr>