<table class="table table-bordered align-items-center">
  <tbody>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder " width="300px">Tujuan Strategis RPJMD</td>
      <td class="text-wrap">
        <%= tujuan_kota %>
      </td>
    </tr>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder">Penetapan konteks Risiko Strategis Pemda</td>
      <td class="fw-bolder text-wrap"></td>
    </tr>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder">Nama Dinas Terkait</td>
      <td class="fw-bolder text-wrap"></td>
    </tr>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder">Sasaran RPJMD</td>
      <td class="fw-bolder text-wrap"></td>
    </tr>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder">IKU Sasaran RPJMD</td>
      <td class="fw-bolder text-wrap"></td>
    </tr>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder">Prioritas pembangunan dan program unggulan</td>
      <td class="fw-bolder text-wrap"></td>
    </tr>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder">Tujuan RPJMD</td>
      <td class="fw-bolder text-wrap"></td>
    </tr>
    <tr>
      <td class="text-gray-900 text-wrap fw-bolder">Sasaran RPJMD</td>
      <td class="fw-bolder text-wrap"></td>
    </tr>
  </tbody>
</table>
