<%= form_with(model: anggaran_blud) do |form| %>
  <% if anggaran_blud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anggaran_blud.errors.count, "error") %> prohibited this anggaran_blud from being saved:</h2>

      <ul>
        <% anggaran_blud.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
