<table class="table table-bordered">
    <caption class="caption-top fw-bold">Rencana Aksi Daerah</caption>
    <thead>
        <tr class="text-center">
            <th>Rencana Aksi</th>
            <th>Indikator</th>
            <th>Target</th>
            <th>Satuan</th>
            <th>OPD Pelaksana</th>
            <th>Keterangan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <%= render SasaranKota::SasaranComponent.with_collection(rad_sasaran_kota, tahun: @tahun) %>
    </tbody>
</table>
