<% sub_sasaran_kota.each.with_index(1) do |sub_sasaran, no_sub| %>
    <table class="table table-bordered">
        <caption class="caption-top fw-bold">Sub Sasaran</caption>
        <thead>
            <tr class="text-center">
                <th colspan="2">Sub Sasaran <%= sub_sasaran_kota.size > 1 ? no_sub : '' %></th>
                <th>Indikator</th>
                <th>Target</th>
                <th>Satuan</th>
                <th colspan="2">Keterangan</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% view_sub_sasaran = SasaranKota::SasaranComponent.new(sasaran: sub_sasaran, tahun: @tahun) %>
            <%= render view_sub_sasaran %>
        </tbody>
    </table>

    <%= render 'sasaran_kota/tabel_rad_kota', rad_sasaran_kota: view_sub_sasaran.sub_pohons %>
<% end %>
