<h1>Edit Sasaran Kota</h1>

<%= form_for(@sasaran_kota, url: sasaran_kotum_path(@sasaran_kota), method: :patch) do |form| %>
  <%= render 'form', form: form, sasaran_kota: @sasaran_kota %>
<% end %>

<div class="card-body">
  <%= link_to sasaran_kota_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
