<%= content_for :html_title, "Indikator Renja" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item">Indikator</li>
  <li class="breadcrumb-item active" aria-current="page">Renja</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_ajax',
             title: "Indikator Renja",
             data_page_attr: {
               controller: 'page-ajax',
               page_ajax_url_value: item_renja_opd_indikators_path,
               page_ajax_opd_value: cookies[:opd],
               page_ajax_tahun_value: cookies[:tahun],
             } %>
<% end %>
