<% unless pohon.exists? %>
  <% if pohon.pohonable.crosscuttings.any? %>
    <div class="pohon-body">
      <table class="table table-bordered mb-3">
        <% pohon.pohonable.crosscuttings.each.with_index(1) do |crosscut, no| %>
          <tr>
            <td class="text-start" width="30px">Crosscutting <%= crosscut.tipe_crosscutting %></td>
            <td class="text-wrap text-start"><%= crosscut.nama_opd_pelaksana %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
