<% show_button = local_assigns.fetch(:show_button, true) %>
<% unless pohon.exists? %>
  <% if pohon.pelaksana.any? %>
    <div class="pohon-body">
      <% pohon.pelaksana.each.with_index(1) do |dibagikan, no| %>
        <table class="table table-bordered mb-3">
          <tr>
            <td class="text-start" width="20px">Pelaksana
              <% if pohon.pelaksana.size > 1 %>
                <%= no %>
              <% end %>
            </td>
            <td class="text-wrap text-start"><%= dibagikan.dibagikan_ke %></td>
            <td class="text-wrap text-center align-middle" style="font-size: 11px;">
              <% checker = dibagikan.pohonable.sasarans.select { |s| s.nip_asn == dibagikan.nip_asn } %>
              <% if checker.any? %>
                <span class="badge bg-success">Jumlah Rencana Kinerja: <%= checker.size %></span>
              <% else %>
                <span class="badge bg-danger">Rencana Kinerja belum terisi</span>
              <% end %>
            </td>
            <% if privileged_user && show_button %>
              <td class="text-center align-middle">
                <%= link_to pelaksana_path(dibagikan, user_id: dibagikan.user_id),
                 method: :delete,
                 data: {
                   confirm_swal: 'hapus pelaksana?',
                   controller: 'form-ajax',
                   action: 'ajax:complete->form-ajax#afterSubmitRefresh'
                 },
                 class: 'btn btn-sm btn-outline-danger' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>
