<% presenter = PohonKinerjaPresenter.new(pohon) %>
<div class="pohon">
  <%= render partial: 'pohon_kinerja_opds/item_pohon_title', locals: { pohon: presenter } %>
  <%= render partial: 'pohon_kinerja_opds/item_cascading_body', locals: { pohon: presenter } %>
  <%= render partial: 'pohon_kinerja_opds/item_cascading_tombol', locals: { pohon: presenter } %>
  <%= render partial: 'pohon_kinerja_opds/item_pohon_foot', locals: { pohon: presenter, from: 'cascading' } %>
</div>
