<% unless pohon.exists? %>
  <% if eselon_x?('eselon_2', 'eselon_3', 'admin', 'super_admin') %>
    <% if pohon.real.instance_of?(StrategiPohon) %>
      <div class="pohon-tombol mb-3">
        <div class="row">
          <div class="col">
            <%= link_to crosscutting_path(pohon),
             remote: true,
             class: 'btn btn-sm btn-outline-gray-900',
             data: {
               controller: 'form-modal',
               action: 'form-modal#appendForm',
               form_modal_location_param: 'form-crosscutting-body',
               bs_target: '#form-crosscutting',
               bs_toggle: 'modal'
             },
             style: 'font-size: 0.8em;' do %>
              <span class="fas fa-link me-2"></span>
              <span>Crosscutting</span>
            <% end %>
          </div>
          <div class="col">
            <%= link_to edit_pohon_kinerja_opd_path(pohon, partial: 'item_pohon'),
             remote: true,
             class: 'btn btn-sm btn-outline-info',
             data: {
               controller: 'pohon-tematik',
               action: 'ajax:complete->pohon-tematik#pindahPohon:prevent'
             } do %>
              <i class="fas fa-edit me-2"></i>
              <span>Edit</span>
            <% end %>
          </div>
          <div class="col">
            <%= link_to pohon_kinerja_opd_path(pohon),
             remote: true,
             method: :delete,
             class: 'btn btn-sm btn-outline-danger',
             data: {
               confirm_swal: 'Hapus pohon kinerja?',
               action: 'ajax:success->pohon-tematik#ajaxDelete'
             } do %>
              <i class="fas fa-trash me-2"></i>
              <span>Hapus</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
