<li>
  <div class="tf-nc pokin operational-pohon" id="<%= dom_id(operational) %>">
    <%= render partial: 'item_pohon',
               locals: {
                 pohon: operational
               } %>
  </div>
</li>
