<% presenter = PohonKinerjaPresenter.new(pohon) %>
<li>
  <div class="tf-nc pokin <%= presenter.warna_pohon %>" id="<%= dom_id(pohon) %>">
    <%= render partial: 'pohon_kinerja_opds/item_pohon', locals: { pohon: pohon } %>
  </div>
  <%# self-render childs in helper %>
  <ul class='d-none childs'>
    <%= render partial: 'pohon_kinerja_opds/pohon_kinerja_opd', collection: childs(pohon), as: :pohon %>
  </ul>
</li>
