<li>
  <%= render partial: 'pohon_kinerja_opds/item_cascading', locals: { pohon: pohon } %>
  <%# self-render childs in helper %>
  <ul class='d-none childs'>
    <%= render partial: 'pohon_kinerja_opds/pohon_cascading', collection: childs(pohon), as: :pohon %>
  </ul>
</li>
