<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Tujuan SubKegiatan </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= form.select(:sasaran_id, options_for_select(Sasaran.pluck(:sasaran_kinerja, :id), selected: form.object.sasaran_id), {include_blank: true},
                    {data: { controller: 'dropdown',
                             'ajax--url': "/sasarans/list_sasaran.json",
                             "ajax--cache": "true",
                             dropdown_jenis_value: 'chain',
                             "placeholder": "Pilih Sasaran",
                             'gender-form-target': 'sasaran_id'
                    }} ) %>
</div>
</div>
