<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>SubKegiatan </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= content_tag(:label, "SubKegiatan", class: 'form-label') %>

    <%= content_tag("select", options_for_select([]),
                    {
                      data: { controller: 'dropdown',
                              'ajax--url': "/program_kegiatans/list_program_with_sasarans_rincian.json",
                              "ajax--cache": "true",
                              dropdown_jenis_value: 'chain',
                              "placeholder": "Pilih SubKegiatan",
                              'gender-form-target': 'program_kegiatan_id'
                      }} ) %>
</div>
</div>
