<div data-controller="print" data-print-title-value="RENSTRA">
  <button class="m-3 btn btn-outline-danger no-print" data-action="click->print#print">
    <span class="far fa-file-pdf me-2"></span>
    Cetak PDF
  </button>
  <div data-print-target="document" class="w-100" id="cetak">
    <div class="kop">
      <div class="kop-judul">
        <h2>LAPORAN</h2>
      </div>
      <div class="kop-opd">
        <h3>PROGRAM UNGGULAN WALIKOTA MADIUN</h3>
      </div>
      <div class="kop-tahun">
        <h3>TAHUN <%= @tahun %></h3>
      </div>
    </div>
    <div class="table-responsive mb-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="fw-bolder" width="20px">No.</th>
            <th class="fw-bolder text-center">Program Unggulan Walikota Madiun</th>
            <th class="fw-bolder text-center">Asta Karya</th>
            <th class="fw-bolder text-center">Misi Walikota</th>
            <th class="fw-bolder text-center">OPD Lead</th>
            <th class="fw-bolder text-center">Pohon Kinerja</th>
            <th class="fw-bolder text-center">Rencana Kinerja</th>
            <th class="fw-bolder text-center">Pemilik Rencana Kinerja</th>
            <th class="fw-bolder text-center">Sub Kegiatan</th>
            <th class="fw-bolder text-center">Program</th>
            <th class="fw-bolder text-center">Pagu Rencana Kinerja</th>
            <th class="fw-bolder text-center">OPD Pelaksana</th>
            <th class="fw-bolder text-center">Inovasi</th>
            <th class="fw-bolder text-center" style="min-width: 300px;">Uraian 100 Hari Kerja</th>
            <th class="fw-bolder text-center" style="min-width: 300px;">Uraian</th>
            <th class="fw-bolder text-center">Keterangan</th>
            <th class="fw-bolder text-center">Kolaborasi</th>
          </tr>
        </thead>
        <tbody>
          <% @inovasis.each.with_index(1) do |inovasi, no| %>
            <%= render 'row_cetak_inovasi', inovasi: inovasi, no: no %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">Total Pagu</td>
            <td class="text-gray-900 px-3"  width="150px">Rp. <%= number_with_delimiter(@inovasis.map(&:total_pagu_usulans).compact.sum) %></td>
            <td colspan="6"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
