<div class="table-responsive">
    <h1>Desain KaK</h1>

    <div class="detail">
    <span>Kak 1 </span>
    <h3>Nama Program Kegiatan</h3>
      <div class="sasaran">
        <p>Sasaran A</p>
        <p>Rincian A</p>
        <p>Link To Tahapan Kinerja</p>
      </div>
    </div>
    <div class="alert alert-danger">
      Make this grid card
    </div>
</div>