<div class="table-responsive">
    <h1>Desain KaK</h1>
    <table>
      <tr>
        <th>Dasar Hukum</th>
        <th>Tujuan</th>
        <th>Program Kegiatan</th>
      </tr>
      <tbody>
      <% @kaks.each do |k| %>
      <tr>
        <td><%= k.dasar_hukum %></td>
        <td><%= k.tujuan %></td>
        <td><%= k.program_kegiatan %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
</div>