  <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
    <li class="breadcrumb-item">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </li>
    <li class="breadcrumb-item"><%= link_to 'KaK', user_kaks_path(current_user) %></li>
    <li class="breadcrumb-item active" aria-current="page">Tambah KaK</li>
  </ol>
</nav>
<div class="form-field-container">
  <h3>Form Penyusunan KaK</h3>
  <hr>
  <%= render 'form', kak: @kak, user: @user %>
</div>
