<div class="program-kegiatan">
  <h3>Program Kegiatan A</h3>
</div>
<h4>A. Latar Belakang</h4>
<div class="dasar-hukum">
  Dasar Hukum
  <ol>
    <% @kak.dasar_hukum.each do |dh|  %>
      <li>
        <%= dh  %>
      </li>
    <% end %>
  </ol>
</div>
<h4>B. Penerima Manfaat</h4>
<div class="penerima-manfaat">
  <%= @kak.penerima_manfaat %>
</div>
<h4>C. Strategi Pencapaian Keluaran</h4>
<div class="tahapan_pelaksanaan">
  <%= @kak.tahapan_pelaksanaan %>
</div>
<h4>D. Kurun Waktu Pencapaian Keluaran</h4>
<div class="tahapan_pelaksanaan">
  <%= @kak.waktu_dibutuhkan %>
</div>
