<div class="program-kegiatan">
  <h3>Program Kegiatan A</h3>
</div>
<div class="dasar-hukum">
  <h3>Dasar Hukum :</h3>
  <ol>
    <% @kak.dasar_hukum.each do |dh|  %>
      <li>
        <%= dh  %>
      </li>
    <% end %>
  </ol>
</div>
<div class="tujuan">
  <h3>Tujuan :</h3>
  <ol>
    <% @kak.tujuan.each do |tj|  %>
      <li>
        <%= tj %>
      </li>
    <% end %>
  </ol>
</div>
