<table class="table table-bordered mb-3" id="<%= dom_id(kolab) %>">
  <tr>
    <td class="text-start" width="20px">Kolaborasi Dengan</td>
    <td class="fw-bolder text-gray-500 text-wrap text-start"><%= kolab.opd %></td>
    <td class="text-wrap">Edit</td>
  </tr>
  <tr>
    <td class="text-start" width="20px">Status</td>
    <td class="fw-bolder text-gray-500 text-wrap text-start" colspan="2"><%= kolab.status %></td>
  </tr>
  <tr>
    <td class="text-start" width="20px">Keterangan</td>
    <td class="fw-bolder text-gray-500 text-wrap text-start" colspan="2"><%= kolab.keterangan %></td>
  </tr>
</table>
