<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="fs-5 fw-bold mb-0">All Users</h2>
    </div>
    <div class="col-auto text-end">
      <%= link_to "Tambah User", 
      new_user_path, 
      remote: true, 
      data: {
        controller: 'form-modal',
        action: 'ajax:complete->form-modal#success:prevent',
        bs_toggle: 'modal',
        bs_target: '#form-modal'
      },
      class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-border table-flush counter" data-datatable>
      <thead class="thead-light">
        <tr>
          <th class="border" scope="col">No.</th>
          <th class="border" scope="col">Nama / NIP</th>
          <th class="border" scope="col">Jabatan</th>
          <th class="border text-center" scope="col">OPD</th>
          <th class="border text-center" scope="col" colspan="2">Role</th>
          <th class="border text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>
