  <% (@kriterium.poin_min..@kriterium.poin_max).each do |poin| %>
  <div class="form-check form-check-inline">
    <%= radio_button_tag 'skor', poin, false, class: 'form-check-input' %>
    <%= label_tag 'skor', class: 'form-check-label' do %>
      <span class="fw-bolder"><%= poin %></span>
    <% end %>
  </div>
<% end %>
