<h1>Editing Tujuan Opd</h1>

<%= render 'form', tujuan_opd: @tujuan_opd %>

<div class="card-body">
  <%= link_to tujuan_opds_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
