<%= content_for :html_title, "Tujuan OPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Tujuan OPD</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_ajax',
             title: "Tujuan OPD",
             data_page_attr: {
               controller: 'page-ajax',
               page_ajax_url_value: admin_filter_tujuan_opds_path
             } %>
<% end %>
