<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="fs-5 fw-bold mb-0"><%= local_assigns[:title] %></h2>
    </div>
  </div>
</div>
<div class="card-body">
  <p class="alert alert-info">Pilih Tahun dan OPD</p>
</div>
