<%= content_tag :div, class: 'card border-0 shadow', data: data_page_attr  do %>
  <div data-page-ajax-target="results">
    <div class="card-header mb-3">
      <div class="row align-items-center">
        <div class="col">
          <h5><%= title %></h5>
        </div>
      </div>
    </div>
    <%= render(LoaderComponent.new())%>
  </div>
<% end %>
