<ul class="navbar-nav align-items-center">
  <li class="nav-item filter-form">
    <%= render 'shared/global_filter_opd', filter_url: filter_tahun_dan_opd_path %>
  </li>
  <li class="nav-item dropdown ms-lg-3 mt-2">
    <%= render 'shared/user_profile'%>
  </li>
</ul>
