<div class="modal fade " id="form-<%= local_assigns[:modal_name] %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form-<%= local_assigns[:modal_name] %>-title"><%= local_assigns[:modal_name].titleize %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="form-<%= local_assigns[:modal_name] %>-body">
        ...
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal" aria-label="Close">Batal</button>
      </div>
    </div>
  </div>
</div>
