<div class="card border-0 shadow">
  <div class="card-header border-bottom d-flex align-items-center justify-content-between">
    <h2 class="fs-5 fw-bold mb-0">Progress Sasaran Kinerja</h2>
  </div>
  <div class="card-body">
    <% sasaran.each do |sas| %>
      <!-- Project 1 -->
      <div class="row mb-4">
        <div class="col-auto">
          <i class="fas fa-tasks"></i>
        </div>
        <div class="col">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="h6 mb-0"><%= sas.sasaran_kinerja %></div>
              <div class="small fw-bold text-gray-500"><span><%= sas.rincian.total_target_realisasi_bulan %> %</span></div>
            </div>
            <div class="progress mb-0">
              <div class="progress-bar bg-success" role="progressbar" style="<%= "width: #{sas.rincian.total_target_realisasi_bulan}" %>"></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
