<h1>Form Strategi Kota</h1>

<%= render 'form', strategi_kotum: @strategi_kotum %>

<div class="card-body">
  <%= link_to strategi_kota_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
