<div class="card-body">
  <div class="alert alert-danger">
    <strong>User anda belum memiliki akses ke aplikasi e-kak.</strong>
  </div>
  <p class="alert alert-info">
    <strong>Hubungi admin perangkat daerah.</strong>
  </p>
</div>
