<div class="card border-0 shadow" data-controller="chart">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Perbandingan A</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div data-chart-target="first">
    </div>
  </div>
</div>
