<div class="card-body" id="tujuan-kota-card">
  <div class="d-grid gap-4">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Tujuan Kota Periode <%= "#{@tahun_awal} - #{@tahun_akhir}" %></h2>
      </div>
      <% unless guest? %>
        <div class="col-auto">
          <%= link_to new_tujuan_kota_path,
                      remote: true,
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_toggle: 'modal',
                        bs_target: '#form-modal'
                      },
                      class: 'btn btn-sm btn-primary' do %>
            <i class="fas fa-plus me-2"></i>
            <span>Tambah Tujuan Kota</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="table-responsive mb-5">
      <table class="table align-items-center counter">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" rowspan="2" width="20px">No.</th>
            <th class="border text-center" rowspan="2">Aksi</th>
            <th class="border" rowspan="2">Visi</th>
            <th class="border" rowspan="2">Misi</th>
            <th class="border" rowspan="2">Tematik</th>
            <th class="border" rowspan="2">Tujuan Kota</th>
            <th class="border" rowspan="2">Periode</th>
            <th class="border" rowspan="2">Indikator</th>
            <th class="border" rowspan="2">Rumus Perhitungan</th>
            <th class="border" rowspan="2">Sumber Data</th>
            <% (@tahun_awal..@tahun_akhir).each do |tahun| %>
              <th class="border text-center" scope="col" colspan="2"><%= tahun %></th>
            <% end %>
            <th class="border text-center" rowspan="2">Review</th>
          </tr>
          <tr>
            <% (@tahun_awal..@tahun_akhir).each do %>
              <th class="border" scope="col" width="50px">Target</th>
              <th class="border" scope="col">Satuan</th>
            <% end %>
          </tr>
        </thead>
        <%= render partial: 'tujuan_kota_row', collection: @tujuan_kota, as: :tujuan_kota %>
        <tbody id="new_tujuan_kota"></tbody>
      </table>
    </div>
  </div>
</div>
