<%= content_for :html_title, "Tujuan Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Tujuan Kota</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_ajax',
             title: "Tujuan Kota",
             data_page_attr: {
               controller: 'page-ajax',
               page_ajax_url_value: admin_filter_tujuan_kota_path
             } %>
<% end %>
