<h1>Form Tujuan Kota</h1>

<%= render 'form', tujuan_kota: @tujuan_kota %>

<div class="card-body">
  <%= link_to tujuan_kota_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
