<li>
  <div class="tf-nc">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Tematik Kota A</strong></h5>
    </div>
    <div class="pohon-body">
      <p class="text-center"><strong>Penanganan Kemiskinan</strong></p>
    </div>
    <div class="pohon-foot">
      <div class="row gx-3">
        <div class="pindah-pohon col">
          <button class="btn btn-outline-primary w-100">
            <i class="fas fa-plus me-2"></i>
            <span>Sub-Tematik</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</li>
