<h1>Form Isu Strategis Kota</h1>

<%= render 'form', isu_strategis_kotum: @isu_strategis %>

<div class="card-body">
  <%= link_to isu_strategis_kota_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
