
<%= render 'form', manual_ik: @manual_ik %>

<div class="card-body">
  <%= link_to user_sasaran_path(@user, @sasaran), class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
