<div class="card border-0 shadow" id="hasil_filter_opd">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">List OPD</h2>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-flush datatable" data-datatable>
        <thead class="thead-light">
          <tr>
            <th>OPD</th>
            <th>Kode OPD</th>
            <th>Urusan</th>
            <th>Bidang Urusan</th>
            <th>Nama Kepala OPD</th>
            <th>NIP Kepala OPD</th>
            <th>Pangkat Kepala OPD</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% opds.each do |opd| %>
            <%= render 'opds/row_table_opd', opd: opd %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
