<div class="card border-0 shadow" id="hasil_filter_opd">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">List OPD</h2>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-flush datatable" data-datatable>
        <thead class="thead-light">
          <tr>
            <th>OPD</th>
            <th>OPD Induk</th>
            <th>Nama Kepala OPD</th>
            <th>NIP Kepala OPD</th>
            <th>Pangkat Kepala OPD</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @opds.each do |opd| %>
            <tr class="bg-info text-white">
              <td colspan="6">Utama:</td>
            </tr>
            <%= render 'opds/row_table_opd', opd: opd %>
            <tr class="bg-primary text-white">
              <td colspan="6">Bidang: <%= opd.bidangs.size %></td>
            </tr>
            <% opd.bidangs.order(:kode_unik_opd).each do |bidang| %>
              <%= render 'opds/row_table_opd', opd: bidang %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'modal' %>
