<%= content_for :html_title, "Bab 3 - Akar Masalah" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 3</li>
  <li class="breadcrumb-item active" aria-current="page">Akar Masalah</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Akar Masalah", sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive">
      <table class="table table-bordered align-items-center counter border sticky-head">
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center" colspan="2">Masalah Pokok</th>
            <th class="text-center" colspan="2">Masalah</th>
            <th class="text-center" colspan="2">Akar Masalah</th>
          </tr>
        </thead>
        <tbody>
          <%= render SubstansiRenstra::MasalahComponent.with_collection(@strategi_opds) %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
