<%= content_for :html_title, "Bab 1 - Dasar Hukum" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 1</li>
  <li class="breadcrumb-item active" aria-current="page">Dasar Hukum</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Laporan Dasar Hukum", sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive mb-5 d-grid gap-2">
      <table class="table align-items-center counter" data-controller="sortable">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom text-gray-700" scope="col">No.</th>
            <th class="border-bottom text-gray-700" scope="col">Dasar Hukum</th>
            <th class="border-bottom text-gray-700" scope="col">Keterangan</th>
            <th class="border-bottom text-gray-700" scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="new_mandatori" data-sortable-target="list">
          <%= render SubstansiRenstra::DasarHukumComponent.with_collection(@dasar_hukums, jenis: 'DasarHukum') %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
