<div class="row">
  <div class="col">
    <%= form.select :role_anggota, ['Koordinator', 'Ketua', 'Anggota'], {required: true, include_blank: true},
     data: {
       placeholder: 'Pilih Role Anggota',
       controller: 'dropdown',
       dropdown_parent_value: '#susunan-tim',
     }  %>
  </div>
  <div class="col">
    <%= form.text_field :nama_anggota, { class: "form-control" } %>
  </div>
</div>
