<%= content_for :html_title, "Master Jabatan" %>
  <%= content_for :navigation do %>
    <li class="breadcrumb-item" aria-current="page">Data Master</li>
    <li class="breadcrumb-item active" aria-current="page">Jabatan</li>
    <% end %>
      <% content_for :view_utama do %>
        <div class="card border-0 shadow">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="fs-5 fw-bold mb-0">Jabatan</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-flush counter" data-datatable>
                <thead class="thead-light">
                  <tr>
                    <th class="border-bottom text-gray-700" scope="col">No.</th>
                    <th class="border-bottom text-gray-700" scope="col">Id Jabatan</th>
                    <th class="border-bottom text-gray-700" scope="col">Jabatan</th>
                    <th class="border-bottom text-gray-700" scope="col">Tipe</th>
                    <th class="border-bottom text-gray-700" scope="col">OPD</th>
                    <th class="border-bottom text-gray-700 text-center" scope="col" colspan='1'>Action</th>
                  </tr>
                </thead>
                <tbody id="new_jabatan">
                  <%= render @jabatan %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% end %>