<div class="pohon">
  <div class="pohon-title">
    <h5 class="text-center"><strong>Operational</strong></h5>
  </div>
  <%= render partial: 'pohon_tematik/inner_table', locals: { pohon: pohon, title: 'Operational' } %>
  <% unless reviewer? %>
  <div class="pohon-tombol row mb-3">
    <div class="col">
      <%= link_to edit_operational_pohon_tematik_path(pohon),
             remote: true,
             data: {controller: 'pohon-tematik',
                 action: 'ajax:complete->pohon-tematik#pindahPohon:prevent',
             },
             class: 'btn btn-outline-info' do %>
        <i class="fas fa-edit me-2"></i>
        <span>Edit</span>
      <% end %>
    </div>
    <div class="col">
      <%= link_to pohon_tematik_path(pohon),
             method: :delete,
             remote: true,
             class: 'btn btn-outline-danger',
             data: { confirm_swal: "Hapus Operational Tematik #{pohon.pohonable.strategi}?",
                  action: 'ajax:success->pohon-tematik#ajaxDelete'
             } do %>
        <i class="fa fa-trash-alt me-2"></i>
        <span>Hapus</span>
      <% end %>
    </div>
  </div>
  <div class="pohon-foot">
    <div class="row gx-3">
    </div>
  </div>
  <% end %>
</div>
