<li class="<%= dom_class(pohon) %>">
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Tematik Kota</strong></h5>
    </div>
    <div class="pohon-body">
      <p class="text-center">Tema: <%= pohon.pohonable.tema %></p>
      <p class="text-center">Keterangan: <%= pohon.keterangan %></p>
    </div>
    <div class="pohon-foot">
    </div>
  </div>
</li>
