<div class="tf-nc" style="width: 450px;">
  <div class="pohon-title">
    <h5 class="text-center"><strong>OPD Tematik</strong></h5>
  </div>
  <div class="pohon-body">
    <p class="text-center">Nama OPD: <%= pohon.pohonable.nama_opd %></p>
    <p class="text-center">Keterangan: <%= pohon.keterangan %></p>
  </div>
  <div class="pohon-foot">
    <div class="row gx-3">
      <%= link_to new_strategi_tematik_pohon_tematik_path(pohon),
                        remote: true,
                        data: {
                                controller: 'pohon-tematik',
                                pohon_tematik_id_param: "strategi_tematik_#{pohon.object_id}",
                                action: 'ajax:complete->pohon-tematik#addStrategiTematik:prevent',
                              },
                        class: 'btn btn-primary w-100' do %>
        <i class="fas fa-plus me-2"></i>
        <span>Strategi Tematik</span>
      <% end %>
    </div>
  </div>
</div>
