<li>
  <div class="tf-nc" style="width: 700px;">
    <%= render 'pohon_tematik/item_pohon_tematik', pohon: pohon %>
  </div>
  <ul id="<%= "tematik_#{pohon.object_id}" %>">
    <% if local_assigns[:sub_tematiks] %>
      <% sub_tematiks.each do |sub_tema| %>
        <%= render partial: 'pohon_tematik/pohon_sub_tematik', locals: {
          pohon: sub_tema,
          sub_sub_tematiks: sub_sub_tematiks.select { |sub| sub.pohon_ref_id == sub_tema.id },
          strategic_no_filter: strategics_all,
          strategics: strategics_all.select { |str| str.pohon_ref_id == sub_tema.id },
          tacticals: tacticals,
          operationals: operationals } %>
      <% end %>
      <% strategics.each do |str| %>
        <%= render partial: 'pohon_tematik/pohon_strategi_tematik', locals: {
          pohon: str,
          tacticals: tacticals.select { |tact| tact.pohon_ref_id == str.id },
          operationals: operationals } %>
      <% end %>
    <% end %>
  </ul>
</li>
