<li>
  <% unless pohon.pohonable.nil? %>
  <div class="tf-nc strategic-pohon" style="width: 550px;">
    <%= render 'pohon_tematik/item_pohon_strategi', pohon: pohon %>
  </div>
  <ul class='d-none childs' id='<%= "tactical_tematik_#{pohon.object_id}" %>'>
    <% if local_assigns[:tacticals] %>
      <% tacticals.each do |tactical| %>
        <%= render partial: 'pohon_tematik/pohon_tactical_tematik', locals: {
          pohon: tactical,
          operationals: operationals.select { |op| op.pohon_ref_id == tactical.id} } %>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</li>
