<li>
  <div class="tf-nc" style="width: 450px;">
    <%= render 'pohon_tematik/item_pohon_sub_tematik', pohon: pohon %>
  </div>
  <ul class='d-none' id='<%= "strategi_tematik_#{pohon.object_id}" %>'>
    <% if local_assigns[:strategics] %>
      <% strategics.each do |str| %>
        <%= render partial: 'pohon_tematik/pohon_strategi_tematik', locals: {
          pohon: str,
          tacticals: tacticals.select { |tact| tact.pohon_ref_id == str.id },
          operationals: operationals } %>
      <% end %>
    <% end %>
  </ul>
</li>
