<li>
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Operational Tematik</strong></h5>
    </div>
    <div class="pohon-body">
      <p class="text-center">Operational Tematik: <%= pohon.pohonable.strategi %></p>
      <p class="text-center">Keterangan: <%= pohon.keterangan %></p>
    </div>
    <div class="pohon-tombol row mb-3">
      <div class="col">
        <button class="btn btn-outline-primary">
          <i class="fas fa-exchange-alt me-2"></i>
          <span>Pindah</span>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-outline-info">
          <i class="fas fa-edit me-2"></i>
          <span>Edit</span>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-outline-danger">
          <i class="fas fa-trash me-2"></i>
          <span>Hapus</span>
        </button>
      </div>
    </div>
    <div class="pohon-foot">
      <div class="row gx-3">
      </div>
    </div>
  </div>
</li>
