<div class="tf-nc" style="width: 450px;">
  <div class="pohon-title">
    <h5 class="text-center"><strong>Tactical Tematik</strong></h5>
  </div>
  <div class="pohon-body">
    <p class="text-center">Strategi Tematik: <%= pohon.pohonable.strategi %></p>
    <p class="text-center">Keterangan: <%= pohon.keterangan %></p>
  </div>
  <div class="pohon-foot">
    <div class="row gx-3">
    </div>
  </div>
</div>
