<div class='pohon-form'>
  <div class="pohon-title">
    <h5 class="text-center"><strong>Edit Tactical</strong></h5>
  </div>
  <div class="pohon-body">
    <%= render 'pohon_tematik/form_edit_tactical_tematik', pohon: @pohon %>
  </div>
  <div class="pohon-foot">
    <button type="button" class="btn btn-danger w-100" aria-label="Close" data-action="pohon-tematik#closeInlineForm">Batal</button>
  </div>
</div>
