<li class="<%= dom_class(@pohon) %>">
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Operational Tematik</strong></h5>
    </div>
    <div class="pohon-body">
      <%= render 'pohon_tematik/form_operational_tematik', pohon: @pohon %>
    </div>
    <div class="pohon-foot">
      <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal" aria-label="Close" data-action="pohon-tematik#closeForm">Batal</button>
    </div>
  </div>
</li>
