<li class="<%= dom_class(@sub_sub_tematik) %>">
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Sub Sub-Tematik</strong></h5>
    </div>
    <div class="pohon-body form-sub-sub-tematik">
      <%= render 'pohon_tematik/form_sub_sub_tematik', sub_sub_tematik: @sub_sub_tematik, pohon_sub: @pohon_sub %>
    </div>
    <div class="pohon-foot">
      <button type="button" class="btn btn-danger w-100" data-action="pohon-tematik#closeForm">Batal</button>
    </div>
  </div>
</li>
