<li class="<%= dom_class(@strategi) %>">
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Strategic Baru</strong></h5>
    </div>
    <div class="pohon-body form-strategi-tematik">
      <%= render 'pohon_tematik/form_strategi_tematik_baru', strategi: @strategi %>
    </div>
    <div class="pohon-foot">
      <button type="button" class="btn btn-danger w-100" data-action="pohon-tematik#closeForm">Batal</button>
    </div>
  </div>
</li>
