<li class="<%= dom_class(@tactical) %>">
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Tactical Tematik Baru</strong></h5>
    </div>
    <div class="pohon-body">
      <%= render 'pohon_tematik/form_tactical_tematik_baru', strategi: @tactical %>
    </div>
    <div class="pohon-foot">
    </div>
  </div>
</li>
