<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Rekap Jumlah</li>
      </ol>
    </nav>
    <% if current_user.has_role? :admin or current_user.has_role? :super_admin %>
      <%= render 'shared/filter_with_tahun_card', filter_url: '/filter_rekap_jumlah', filter_file: 'hasil_filter_rekap', all: true %>
    <% end %>
    <div class="card border-0 shadow" id="rekap_filter">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Rekap Jumlah</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="alert alert-info">Pilih Tahun dan OPD</p>
      </div>
    </div>
  </div>
</div>
