<div class="pohon-foot <%= element_class_name %>">
    <div class="row">
        <% if can_toggle_all? %>
            <div class="col">
                <button type="button" class="btn btn-primary w-100" data-action="pohon-tematik#toggleAll" data-pohon-tematik-show-param="false">Tampilkan Semua</button>
            </div>
        <% else %>
            <div class="col">
                <button type="button" class="btn btn-tertiary w-100" data-action="pohon-tematik#toggleChild" data-pohon-tematik-show-param="false">Tampilkan</button>
            </div>
        <% end %>
    </div>
</div>
