<div class="tf-nc" style="width: 450px;">
  <div class="pohon">
    <div class="pohon-title">
      <h4 class="text-center"><strong><%= @title %></strong></h4>
    </div>
    <div class="pohon-title">
      <p class="text-center"><%= @subtitle %></p>
    </div>
  </div>
</div>
