<h1>Editing Strategi Arah Kebijakan</h1>

<%= render 'form', strategi_arah_kebijakan: @strategi_arah_kebijakan %>

<%= link_to 'Show', @strategi_arah_kebijakan %> |
<%= link_to 'Back', strategi_arah_kebijakans_path %>
