<%= form_with url: update_rincian_tugas_tim_kerja_path(rincian_tugas.id, no: no),
              model: rincian_tugas,
              local: false,
              id: dom_id(rincian_tugas, 'form'),
              data: {
                action: 'ajax:complete->row#processAjax',
              } do |form| %>
  <td width="5%"><%= no %></td>
  <td width="90%">
    <% tugas = rincian_tugas.judul_rincian_tugas.present? ? rincian_tugas.judul_rincian_tugas : rincian_tugas.sasaran_kinerja %>
    <%= form.text_area :judul_rincian_tugas,
     { class: "form-control", cols: 5,
       form: dom_id(rincian_tugas, 'form'),
       value: tugas } %>
  </td>
  <td>
    <div class="d-grid gap-2">
      <%= form.submit 'Simpan', class: 'btn btn-sm', style: 'margin-top: 0 !important;',
         form: dom_id(rincian_tugas, 'form') %>
      <button class="btn btn-sm btn-outline-danger" data-action="row#batal">Batal</button>
    </div>
  </td>
<% end %>
