<div class="card-body inovator-tim-kerja">
  <table class="table table-bordered caption-top">
    <caption>
      Inovator
    </caption>
    <tbody>
      <tr>
        <td>
          <%= inovator %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
