<div class="card-body rincian-tugas-tim-kerja">
  <table class="table table-bordered caption-top">
    <caption>
      Gambaran Nilai Kebaruan Inovasi
    </caption>
    <tbody>
      <tr>
        <td class="row-number" width="5%">No.</td>
        <td class="text-wrap">Inovasi</td>
        <td class="text-wrap" width="65%">Nilai Kebaruan</td>
      </tr>
      <tr>
        <td class="row-number" width="5%">1</td>
        <td class="text-wrap fw-bolder"><%= inovasi %></td>
        <td class="text-wrap" width="70%"><%= kebaruan %></td>
      </tr>
    </tbody>
  </table>
</div>
