<tr data-controller="row">
  <td class="row-number" width="5%"><%= no %></td>
  <td class="text-wrap" width="90%"><%= inovasi[1] %></td>
  <td class="text-wrap" width="90%"><%= inovasi[2] %></td>
  <td></td>
</tr>
