<div data-controller="susunans" class="card-body pelaksana-tim-kerja">
  <div class="tabel-tim d-grid gap-3" data-susunans-target="table">
    <% if with_inovator %>
      <%= render 'tim_kerja/tabel_susunan_tim', tim: tim, sasaran_id: sasaran_id %>
    <% else %>
      <%= render 'tim_kerja/tabel_susunan_tim_tanpa_inovator', tim: tim %>
    <% end %>
  </div>
</div>
