<% presenter = PohonKotaPresenter.new(pohon) %>
<li>
  <div class="tf-nc bg-white" style="width: 450px;">
    <%= render partial: 'cetaks/kota/cascading/item_cascading_tematik', locals: { pohon: pohon } %>
  </div>
  <ul class='childs'>
    <%= render partial: 'cetaks/kota/cascading/cascading_strategic',
               collection: @strategi_tematiks.select { |str| str.pohon_ref_id == pohon.id },
               as: :pohon %>
    <%= render partial: 'cetaks/kota/cascading/cascading_sub_sub',
               collection: @sub_sub_tematik_kota.select { |sub| sub.pohon_ref_id == pohon.id },
               as: :pohon %>
  </ul>
</li>
