<div class="card border border-danger mb-3">
  <div class="card-body border-danger">
    <h4 class="alert alert-danger">
      <i class="fas fa-exclamation-triangle me-2"></i>
      Rencana Kinerja Belum lengkap
    </h4>
    <h5>Kekurangan: </h5>
    <ol class="">
      <li>Manual IK</li>
    </ol>
  </div>
</div>
