<div class="card-body">
  <div class="card my-2">
    <div class="card-header">
      <h5>1. Dasar Hukum</h5>
      Sasaran Kinerja:<strong> <%= sasaran.sasaran_kinerja %></strong>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr class="border">
            <th>No.</th>
            <th>Peraturan terkait</th>
            <th>Uraian</th>
          </tr>
        </thead>
        <tbody>
          <% sasaran.dasar_hukums.order(:updated_at).each.with_index(1) do |dashu, i| %>
            <tr class="border">
              <td class="fw-bolder border-end"><%= i %></td>
              <td class="text-wrap"><%= dashu.judul %></td>
              <td class="text-wrap"><%= dashu.peraturan %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
