<form action="<%= pilih_asn_sasaran_path(sasaran) %>" method="POST" class="row">
  <%= token_tag %> 
  <div class="col">
    <select name="sasaran[nip_asn]" data-controller="dropdown" data-dropdown-url-value='/users/dropdown_user.json' data-dropdown-jenis-value='ajax'>
      <option value="<%= sasaran.nip_asn%>"><%= sasaran.user.nama %></option> 
    </select>
  </div>
  <div class="col-auto">
    <input type="submit" value="Pilih" class="btn btn-sm btn-primary">
  </div>
</form>
