<table class="table">
  <thead>
    <tr>
      <th>Inovasi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle"><%= sasaran.metadata&.dig("inovasi_sasaran") %></td>
    </tr>
  </tbody>
</table>
