<table class="table">
  <thead>
    <tr>
      <th>Hasil Output</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle"><%= sasaran.metadata.dig("hasil_output") %></td>
    </tr>
  </tbody>
</table>
