<div class="card border-2 shadow mb-3">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Sasaran Kinerja</th>
          <th>Waktu Dibutuhkan</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= sasaran.sasaran_kinerja %></td>
          <td><%= sasaran.waktu_total %> Bulan</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
