<div class="card border-2 shadow mb-3">
  <table class="table">
    <thead>
      <tr>
        <th>Sasaran Kinerja</th>
        <th>Penerima Manfaat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= sasaran.sasaran_kinerja %></td>
        <td><%= sasaran.penerima_manfaat %></td>
      </tr>
    </tbody>
  </table>
</div>
