<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Rencana Aksi </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="<%= dom_id(sasaran) %>">
      <p>Rencana Kinerja <b><%= sasaran.sasaran_kinerja %></b> Belum Terdapat Rencana Aksi</p>
      <%= link_to 'Tambahkan Rencana Aksi', new_sasaran_tahapan_path(sasaran), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'}, class: 'btn btn-danger mb-4' %>
    </div>
  </div>
</div>
