<div class="d-grid gap-3">
  <%= link_to sasaran_path(sasaran),
   class: "btn btn-sm btn-outline-primary" do %>
    <i class="fa fa-book-open me-2"></i>
    <span>Input KAK</span>
  <% end %>
  <%= link_to edit_sasaran_path(sasaran),
   class: "btn btn-sm btn-outline-info" do %>
    <i class="fa fa-edit me-2"></i>
    <span>Edit</span>
  <% end %>
  <%= link_to sasaran_path(sasaran),
   method: :delete,
   data: { confirm_swal: "Hapus #{sasaran.sasaran_kinerja} ?"},
   class: "btn btn-sm btn-outline-danger" do %>
    <i class="fa fa-trash-alt me-2"></i>
    <span>Hapus</span>
  <% end %>
  <%= link_to clone_sasaran_clone_path(sasaran), remote: true,
   data: {
     controller: 'form-modal',
     action: 'form-modal#appendForm',
     form_modal_location_param: 'form-modal-body',
     bs_toggle: 'modal',
     bs_target: '#form-modal'
   },
   class: "btn btn-sm btn-primary w-100 mt-3" do %>
    <i class="fa fa-clone me-2"></i>
    <span>Clone</span>
  <% end %>
</div>
