<div class="card tahapan_pelaksanaan">
  <div class="card-body">
    <div class="table-responsive">
      <% if @tahapans.any? %>
        <p class="fw-bolder mb-3">Pilih RTP</p>
        <table class="table table-bordered align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom border-end text-center" scope="col"></th>
              <th class="border-bottom border-end border-start" scope="col">No.</th>
              <th class="border-bottom border-end" scope="col">Tahapan Kerja</th>
              <th class="border-bottom border-end text-center" colspan="1" scope="col">Total Bobot</th>
              <th class="border-bottom border-end" scope="col">Keterangan</th>
            </tr>
          </thead>
          <%= form_with model: @sasaran, url: simpan_rtp_sasaran_path(nomor_sasaran: @nomor, laporan: @laporan, butuh_verifikasi: @butuh_verifikasi),
                        id: 'form-rtp', local: false,
                        data: {
                          controller: 'form-ajax',
                          form_ajax_target_param: dom_id(@sasaran),
                          action: 'ajax:complete->form-ajax#processAjax'
                        } do |form| %>
            <tbody>
              <% @tahapans.each do |tahapan| %>
                <%= render 'sasarans/renaksi_sasaran', tahapan: tahapan %>
              <% end %>
            </tbody>
            <caption>
              <%= form.submit 'Simpan', form: 'form-rtp' %>
            </caption>
          <% end %>
        </table>
      <% else %>
        <p class="text-danger">Belum Ada Tahapan</p>
      <% end %>
    </div>
  </div>
</div>
