<div class="card border-2 shadow mb-3 tahapan_pelaksanaan">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>C. Strategi Pencapaian Keluaran <b><%= @sasaran.sasaran_kinerja %></b></h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <% if @tahapans.any? %>
        <table class="table table-bordered table-sm align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom border-end border-start" scope="col" rowspan="1">No.</th>
              <th class="border-bottom border-end" scope="col" rowspan="1">Tahapan Kerja</th>
              <th class="border-bottom border-end text-center" scope="col" rowspan="1">Aksi</th>
              <% (1..12).each do |i| %>
                <th class="border-bottom border-end text-center" colspan="1" scope="col"><%= i %></th>
              <% end %>
              <th class="border-bottom border-end text-center" colspan="1" scope="col">Total</th>
              <th class="border-bottom border-end" scope="col" rowspan="1">Keterangan</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'sasarans/renaksi_sasaran', collection: @tahapans %>
          </tbody>
        </table>
      <% else %>
        <p class="text-danger">Belum Ada Tahapan</p>
      <% end %>
    </div>
  </div>
</div>
