<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Daftar Resiko</li>
      </ol>
    </nav>
    <%= render 'shared/filter_with_tahun_card', filter_url: filter_daftar_resiko_path, filter_file: 'daftar_resiko' %>
    <div class="card border-0 shadow" id="daftar_resiko">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Daftar Resiko</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>Pilih Tahun dan OPD</p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/modal_template', modal_name: 'dampak-daftar-resiko' %>
