<fieldset class="mb-3">
  <div class="field mt-0">
    <%= form.hidden_field :kode_opd, { class: "form-control" } %>
  </div>
  <div class="field mt-0">
    <%= form.label :permasalahan, { class: "form-label" } %>
    <%= form.text_area :permasalahan, { class: "form-control" } %>
  </div>
  <%= link_to_remove_nested(form, link_text: 'Hapus Permasalahan',
                            link_classes: 'btn btn-outline-danger w-100 mt-2') %>
</fieldset>
