<h1>Edit Isu Strategis Opd</h1>

<%= render 'form', isu_strategis_opd: @isu_strategis_opd %>

<div class="card-body">
  <%= link_to isu_strategis_opds_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
