<div class="card border-2 shadow mb-3" id="<%= dom_id(sasaran, 'permasalahan') %>">
  <div class="card-header">
    <h4 class="card-title">
      Permasalahan
      <span class="ms-2"><%= sesuai?(sasaran.permasalahan?) %></span>
    </h4>
    <% unless diajukan? %>
      <div class="link-tambah">
        <%= link_to new_sasaran_permasalahan_path(sasaran),
                    remote: true,
                    class: 'btn btn-primary',
                    data: {
                      controller: 'form-modal',
                      action: 'form-modal#appendForm',
                      form_modal_location_param: 'form-modal-body',
                      bs_target: '#form-modal',
                      bs_toggle: 'modal'
                    } do %>
          <span>Tambah Permasalahan</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered counter">
        <thead>
          <tr>
            <th width="20px">No.</th>
            <th>Jenis</th>
            <th>Permasalahan</th>
            <th>Penyebab Internal</th>
            <th>Penyebab External</th>
            <% unless diajukan? %>
              <th class="text-center align-middle" width="50px">Aksi</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% sasaran.permasalahans.order(:updated_at).each do |permasalahan| %>
            <%= render 'permasalahans/row_permasalahan_card', permasalahan: permasalahan, sasaran: sasaran %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
