<% unless pohon.processed? %>
  <div class="pohon-tombol mb-3">
    <div class="row">
      <div class="col">
        <%= link_to terima_pohon_tematik_path(pohon),
         remote: true,
         method: :patch,
         class: 'btn btn-outline-success',
         data: {
             confirm_swal: "Terima strategi ?",
             method: 'PATCH',
             controller: 'pohon-tematik',
             action: 'ajax:complete->pohon-tematik#terimaPohon:prevent'
         } do %>
          <i class="fas fa-check me-2"></i>
          <span>Terima</span>
        <% end %>
      </div>
      <div class="col">
        <%= link_to tolak_strategi_pohon_tematik_path(pohon),
         remote: true,
         class: 'btn btn-outline-danger',
         data: {
             controller: 'form-modal',
             action: 'ajax:complete->form-modal#success:prevent',
             bs_toggle: 'modal',
             bs_target: '#form-modal'
         } do %>
          <i class="fa fa-times me-2"></i>
          <span>Tolak</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
