<div class="row my-3">
  <% komentars.each do |kom| %>
    <div class="komentar-opd col-12 col-sm-6 col-xl-4">
      <div class="card border border-3 border-primary shadow">
        <div class="card-header highlighted text-center">
          <h3>REVIEW</h3>
        </div>
        <div class="card-body">
          <p>Review: <%= kom.komentar %></p>
          <strong>Reviewer:<%= kom.komentator %></strong>
        </div>
      </div>
    </div>
  <% end %>
</div>
