<div class="card border-2 shadow mb-3" id="musrenbang-card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Usulan Musrenbang</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="isu-strategis-kota-table">
        <thead>
          <tr>
            <th>No</th>
            <th>Usulan</th>
            <th>Alamat</th>
            <th>Permasalahan</th>
            <th>Tahun</th>
            <th class="text-center align-middle">Aksi</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="text-wrap align-middle">1</td>
              <td class="text-wrap align-middle">Usulan Musren A</td>
              <td class="text-wrap align-middle">Kecamatan Taman</td>
              <td class="text-wrap align-middle">Masalah ABCD</td>
              <td class="text-wrap align-middle">2023</td>
              <td class="text-center align-middle"><%= button_to 'Terima', '#', class: 'btn btn-success' %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
