<li>
  <div class="tf-nc strategic-pohon" style="width: 450px;">
    <%= render partial: 'pohon_kinerja/item_pohon', locals: { pohon: pohon, jenis: jenis } %>
  </div>
  <ul class='d-none' id='<%= "tactical_tematik_#{pohon.object_id}" %>'>
    <% if local_assigns[:tacticals] %>
      <% tacticals.each do |tactical| %>
        <%= render partial: 'pohon_tematik/pohon_tactical_tematik', locals: {
          pohon: tactical,
          operationals: operationals.select { |op| op.pohon_ref_id == tactical.id} } %>
      <% end %>
    <% end %>
  </ul>
</li>
