<li>
  <div class="tf-nc pokin operational-pohon" id="<%= dom_id(pohon) %>">
    <%= render partial: 'pohon_kinerja/item_pohon',
               locals: {
                 pohon: pohon
               } %>
  </div>
</li>
