<li>
  <div class="tf-nc operational-pohon" style="width: 450px;">
    <%= render partial: 'pohon_kinerja/item_pohon',
               locals: {
                 pohon: pohon
               } %>
  </div>
</li>
