<div class='pohon-form'>
  <div class="pohon-title">
    <h5 class="text-center"><strong>Edit Pohon</strong></h5>
  </div>
  <div class="pohon-body">
    <%= render 'form_edit',  { model: @pohon, url: @url, method: @method  } %>
  </div>
  <div class="pohon-foot">
    <button type="button" class="btn btn-danger w-100" aria-label="Close" data-action="pohon-tematik#closeInlineForm">Batal</button>
  </div>
</div>
