<li class="<%= dom_class(@pohon) %>">
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Tactical Baru</strong></h5>
    </div>
    <div class="pohon-body">
      <%= render 'form',  { model: @pohon, url: pohon_kinerja_index_path, method: :post  } %>
    </div>
    <div class="pohon-foot">
      <button type="button" class="btn btn-danger w-100" data-action="pohon-tematik#closeForm">Batal</button>
    </div>
  </div>
</li>
