<div class="card-body" data-controller="pohon-kinerja" data-pohon-kinerja-opd-value="<%= @opd.id %>" data-pohon-kinerja-tahun-value="2023">
  <div id="pokin-opd" class="pohon-kinerja-print" data-pohon-kinerja-target="pokin"></div>
</div>
