<%= content_for :html_title, "Rekap SPBE" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item active" aria-current="page">Rekap SPBE</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <%= render 'table_spbe' %>
  <% else %>
    <div class="card border-0 shadow" id="user_filter">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Laporan SPBE</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="alert alert-info">Pilih Tahun dan OPD</p>
      </div>
    </div>
  <% end %>
<% end %>
