<%= content_for :html_title, "Tematik Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Tematik Kota</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Tematik Kota</h2>
        </div>
        <div class="col text-end">
          <%= link_to new_tematik_path,
           remote: true,
           data: {
                   controller: 'form-modal',
                   action: 'ajax:complete->form-modal#success:prevent',
                   bs_toggle: 'modal',
                   bs_target: '#form-modal'
                 },
           class: 'btn btn-sm btn-primary' do %>
            <i class="fas fa-plus me-2"></i>
            <span>Tambah Tema</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table datatable counter" data-datatable>
          <thead>
            <tr>
              <th>No</th>
              <th>Tema</th>
              <th>Indikator</th>
              <th>Target</th>
              <th>Satuan</th>
              <th>Tahun Pohon</th>
              <th>Keterangan</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody id="tematik">
            <%= render 'tematiks/tematik', tematiks: @tematiks %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
