<div id="<%= dom_id(data_dukung) %>">

  <p>
    <strong>Nama data:</strong>
    <%= data_dukung.nama_data %>
  </p>

  <p>
    <strong>Keterangan:</strong>
    <%= data_dukung.keterangan %>
  </p>

</div>
