<tr data-controller="row">
  <td class="text-gray-900 fw-bolder"><%= pelaksana.user.nama %></td>
  <td class="text-gray-900">
    <%= pelaksana.role_tim %>
  </td>
  <td><%= pelaksana.keterangan_tim %></td>
  <td class="text-center">
    <%= render(EditRowButtonComponent.new(title: 'Edit Role Tim',path: edit_role_tim_pelaksana_path(pelaksana.id, nip: pelaksana.user.nik))) %>
  </td>
</tr>
