// Place all the styles related to the Sasarans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table.renaksi {
  border-collapse: collapse;
  text-align: center;
  th {
    padding: 5px;
    border: 1px solid black;
  }
  tr td {
    padding: 5px;
    border: 1px solid black;
  }  
}