// Place all the styles related to the Sasarans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table.renaksi {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  td.tahapan {
    text-align: left;
  }
  th {
    padding: 5px;
    border: 0.5px solid black;
  }
  td {
    padding: 5px;
    border: 0.5px solid black;
  }  
}