<%= content_for :html_title, "Jumlah Rekapitulasi Rencana Aksi OPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item">Rencana Aksi OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Jumlah</li>
<% end %>
<% content_for :view_utama do %>
  <%= content_tag :div,
                  class: 'd-grid gap-3',
                  data: {
                    controller: 'page-ajax',
                    page_ajax_reqtype_value: 'GET',
                    page_ajax_url_value: jumlah_rekapitulasi_rencana_aksi_opds_path(tahun: @tahun)
                  }  do %>

    <div class="card" data-page-ajax-target="results" id="filter-renaksi-results">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h5>Data Rencana Aksi OPD</h5>
          </div>
        </div>
      </div>
      <%= render(LoaderComponent.new())%>
    </div>
  <% end %>
<% end %>
