<div class="flag-renaksi d-grid gap-3">
  <hr/>
  <div class="border p-2 text-center border-primary">Flag Renaksi</div>
  <div class="d-grid gap-2 tombol-flag">
    <%= safe_join(flag_renaksi_buttons(renaksi_opd, tahun, kode_opd, sasaran, i)) %>
  </div>
</div>
