<table class="table table-borderless inner-table w-100 h-100">
  <thead>
    <tr>
      <th class="border-start border-end">Nama Subkegiatan</th>
      <th class="border-start border-end">Indikator</th>
      <th class="border-start border-end">Target</th>
      <th class="border-start border-end">Satuan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= subkegiatan_indikator_renaksi(renaksi_opd, tahun, kode_opd) %>
    </tr>
  </tbody>
</table>
