<table class="table table-borderless inner-table w-100 h-100" stye='min-width: 400px;'>
  <thead>
    <tr class='skip'>
      <th class="border-start border-end" style='min-width: 200px'>Nama Subkegiatan</th>
      <th class="border-start border-end">Indikator</th>
      <th class="border-start border-end">Target</th>
      <th class="border-start border-end">Satuan</th>
    </tr>
  </thead>
  <tbody class='skip'>
    <tr class='skip'>
      <%= subkegiatan_indikator_renaksi(renaksi_opd, tahun, kode_opd) %>
    </tr>
  </tbody>
</table>
