<table class="table table-borderless inner-table w-100 h-100 mb-0 p-0" stye='min-width: 200px;'>
  <thead>
    <tr class='skip'>
      <th class="border-start border-end" style='min-width: 200px'>Nama Subkegiatan</th>
    </tr>
  </thead>
  <tbody class='skip'>
    <tr class='skip border-none'>
      <%= subkegiatan_indikator_renaksi_cetak(renaksi_opd, tahun, kode_opd) %>
    </tr>
  </tbody>
</table>
