<%= content_for :html_title, "Rencana Aksi OPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Rencana Aksi OPD</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Rencana Aksi OPD",
             sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive">
      <table class="table align-items-center">
        <thead class="thead-light">
          <tr>
            <th class="border text-center" rowspan="2" scope="col">No</th>
            <th class="border text-center" rowspan="2" scope="col">Rencana Kinerja</th>
            <th class="border text-center" rowspan="2" scope="col">Indikator Rencana Kinerja</th>
            <th class="border text-center" rowspan="2" scope="col">Target</th>
            <th class="border text-center" rowspan="2" scope="col">Satuan</th>
            <th class="border text-center" rowspan="2" scope="col"></th>
            <th class="border text-center" rowspan="2" scope="col">Aksi/Kegiatan</th>
            <th class="border text-center" scope="col" colspan="4">Jadwal Pelaksanaan</th>
          </tr>
          <tr>
            <th class="border text-center">tw1</th>
            <th class="border text-center">tw2</th>
            <th class="border text-center">tw3</th>
            <th class="border text-center">tw4</th>
          </tr>
        </thead>
        <% @sasaran_opds.each.with_index(1) do |sasaran, i| %>
          <%= render partial: 'row_rencana_aksi_opd', locals: { sasaran: sasaran, i: i } %>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
