<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title">
          Dasar Hukum
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row align-items-center mb-3">
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead>
            <tr class="border">
              <th>Peraturan terkait</th>
              <th>Uraian</th>
            </tr>
          </thead>
          <tbody>
            <% sasaran.dasar_hukums.order(:updated_at).each do |dashu| %>
              <tr>
                <td class="align-middle text-wrap"><%= dashu.judul %></td>
                <td class="align-middle text-wrap"><%= dashu.peraturan %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
