<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title">
          Tematik
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row align-items-center mb-3">
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead>
            <tr class="border">
              <th>Tematik</th>
            </tr>
          </thead>
          <tbody>
            <% sasaran.subkegiatan_tematiks.each do |tematik| %>
              <tr>
                <td class="align-middle text-wrap"><%= tematik.nama_tematik %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
