<div class="modal fade " id="form-anggaran" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form-anggaran-title">Form Anggaran</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="form-anggaran-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary" id="form-anggaran-submit-btn">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){

  $('#form-anggaran').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    let level = $(e.relatedTarget).data('level');
    let parent = $(e.relatedTarget).data('parent');

    $('#anggaran_level').val(level)
    $('#anggaran_parent_id').val(parent)


});

  $('#form-anggaran-body').html("<%= j (render 'new', rincian: @rincian, tahapan: @tahapan, anggaran: Anggaran.new) %>")
  
  $('#form-anggaran-submit-btn').on('click', function() {
    $('#new-anggaran').find("input[type=submit]").click();
    return this
  })

  $('#new-anggaran').on('ajax:success', (event) => {
     location.reload();
  });
  
});
</script>