<% presenter = PohonKinerjaPresenter.new(pohon) %>
<li>
  <div class="tf-nc pokin <%= presenter.warna_pohon %>" id="<%= dom_id(pohon) %>">
    <%= render partial: 'laporans/item_cascading', locals: { pohon: pohon } %>
  </div>
  <%# self-render childs in helper %>
  <ul class='d-none'>
    <%= render partial: 'laporans/cascading', collection: childs(pohon), as: :pohon %>
  </ul>
</li>
