<div class="pohon-body">
  <table class="table table-bordered mb-3">
    <tr>
      <td class="text-start">TEMATIK</td>
      <td class="text-wrap text-start" colspan="2">TEMATIK ABC</td>
    </tr>
  </table>
  <button type="button" class="btn btn-outline-primary w-100" data-action="pohon-tematik#toggleDetail" data-pohon-tematik-show-param="false">Detail</button>
</div>
