<% presenter = PohonKotaPresenter.new(pohon) %>
<div class="pohon">
  <%= render partial: 'laporans/item_cascading_tematik_title', locals: { pohon: presenter } %>
  <%= render partial: 'laporans/item_cascading_tematik_body', locals: { pohon: presenter } %>
  <%= render partial: 'laporans/item_cascading_tematik_tombol', locals: { pohon: presenter } %>
  <%= render partial: 'laporans/item_cascading_tematik_foot', locals: { pohon: presenter } %>
</div>
