<div class="tf-nc" style="width: 450px;">
  <div class="pohon">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Tematik Kota</strong></h5>
    </div>
    <div class="pohon-body">
      <table class="table table-bordered">
        <tr>
          <td class="text-start" width="30px">K/L</td>
          <td class="text-wrap text-start">Kota Madiun</td>
        </tr>
        <tr>
          <td class="text-start" width="30px">Tahun</td>
          <td class="text-wrap text-start"><%= @tahun %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
