<div class="tf-nc" style="width: 450px;">
  <div class="pohon">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Hasil Cascading</strong></h5>
    </div>
    <div class="pohon-body">
      <table class="table table-bordered">
        <tr>
          <td class="text-wrap text-center" colspan="2">Kota Madiun</td>
        </tr>
        <tr>
          <td class="text-wrap text-center" colspan="2"><%= @tahun %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
