<div class="tf-nc bg-white" style="width: 450px;">
  <div class="pohon">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Cascading OPD</strong></h5>
    </div>
    <div class="pohon-body">
      <table class="table table-bordered">
        <tr>
          <td class="text-start" width="30px">OPD</td>
          <td class="text-wrap text-start fw-bolder"><%= @nama_opd %></td>
        </tr>
        <tr>
          <td class="text-start" width="30px">Tahun</td>
          <td class="text-wrap text-start"><%= @tahun %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
