<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Pilih Program Untuk SPBE</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="border text-center" scope="col">No</th>
            <th class="border text-center" scope="col" colspan="2">Program</th>
            <th class="border text-center" scope="col">Indikator</th>
            <th class="border text-center" scope="col">Target</th>
            <th class="border text-center" scope="col">Satuan</th>
            <th class="border text-center" scope="col">Anggaran</th>
            <th class="border text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @spbe.each.with_index(1) do |program, i| %>
            <tr>
              <td class="border text-wrap fw-bolder text-gray-900 text-center"><%= i %></td>
              <td class="border text-wrap fw-bolder text-gray-900" colspan="2">Program: <%= program.nama_program %></td>
              <%= indikator_prg(program, @tahun, @kode_opd) %>
              <td class="border text-wrap fw-bolder text-gray-900">Rp. -</td>
              <td class="border">
                <div class="d-grid gap-2">
                  <%= link_to new_spbe_path(program_id: program.id), target: "_blank", rel: "nofollow",
                    class: "btn btn-sm btn-outline-info" do %>
                    Buat SPBE
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
