<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-3">
        <h2 class="fs-5 fw-bold mb-0">Laporan Sasaran Kinerja</h2>
      </div>
      <div class="col text-end">
        <span><%= current_user.nama %> - <%= current_user.jabatan %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'sasarans/report_sasarans_with_detector_and_lock', users: @atasans %>
  </div>
</div>
