<div id="pilih-tanggal-cetak" class="text-center">
  <%= form_with url: @url, method: :get, local: true, data: { controller: 'form-tanggal' } do |f| %>
    <div class="field">
      <%= f.label :selected_date, "Pilih Tanggal Cetak" %>
      <%= f.text_field :selected_date, class: "form-control datepicker", data: { form_tanggal_target: 'input' } %>
    </div>
    <%= f.submit "Unduh PDF Peta Rencana SPBE", class: "btn btn-primary" %>
  <% end %>
</div>
