<%= content_for :html_title, "Laporan Manajemen Resiko" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item active" aria-current="page">Manajemen Resiko</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_ajax',
             title: "Laporan Manajemen Resiko",
             data_page_attr: {
               controller: 'page-ajax',
               page_ajax_url_value: filter_daftar_resiko_path(laporan: "admin")
             } %>
  <%= render 'shared/modal_template', modal_name: 'dampak-daftar-resiko' %>
<% end %>
