<%= content_for :html_title, "Hasil Crosscutting" %>
<%= content_for :navigation do %>
    <li class="breadcrumb-item" aria-current="page">Laporan</li>
    <li class="breadcrumb-item active" aria-current="page">Hasil Crosscutting</li>
<% end %>
<% content_for :view_utama do %>
    <%= render 'shared/card_layout', title: "Crosscutting #{@opd} - #{@tahun}" do %>
        <div class="table-responsive mb-5 d-grid gap-2">
            <table class="table align-items-center counter">
                <thead class="thead-indikator">
                    <tr class="header-indikator">
                        <th class="border" scope="col" rowspan="2" width="20px">No.</th>
                        <th class="border text-center" scope="col">Strategi Pohon Kinerja</th>
                        <th class="border text-center" scope="col">Jenis</th>
                        <th class="border text-center" scope="col">OPD Pemilik</th>
                        <th class="border text-center" scope="col">OPD Crosscutting</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'crosscutting', collection: @strategi_opd, as: :cross %>
                </tbody>
            </table>
        </div>
    <% end %>
<% end %>
