<%= content_for :html_title, 'Inovasi Sasaran Kinerja' %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item active" aria-current="page">Inovasi Sasaran Kinerja</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: 'Inovasi Sasaran Kinerja', sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive mb-5 d-grid gap-2">
      <table class="table align-items-center counter">
        <thead class="thead-light">
          <tr>
            <th class="border text-center" scope="col">No.</th>
            <th class="border text-center" scope="col">Rencana Kinerja</th>
            <th class="border text-center" scope="col">Tahun</th>
            <th class="border text-center" scope="col">Indikator</th>
            <th class="border text-center" scope="col">Target</th>
            <th class="border text-center" scope="col">Satuan</th>
            <th class="border text-center" scope="col">Jenis Layanan</th>
            <th class="border text-center" scope="col">Inovasi</th>
            <th class="border text-center" scope="col">Jenis Inovasi</th>
            <th class="border text-center" scope="col">Gambaran Nilai Kebaruan</th>
            <th class="border text-center" scope="col">Nama Pengusul</th>
            <th class="border text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'sasarans/sasaran_inovasi', collection: @sasarans, as: :sasaran %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
