<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Data Pembuka Wawasan</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" data-gender-form-target="data_pembuka_wawasan" id="data-fill">
  </div>
</div>
