<div class="card-body">
  <div class="field">
    <%= form.label :penyebab_internal, class: 'form-label' %>
    <%= form.text_field :penyebab_internal,multiple: true, class: 'form-control', data: { gender_form_target: 'penyebab_internal' } %>
  </div>
  <div class="field">
    <%= form.label :penyebab_external, class: 'form-label' %>
    <%= form.text_field :penyebab_external,multiple: true, class: 'form-control', data: { gender_form_target: 'penyebab_external' } %>
  </div>
</div>
