<div class="gender_analysis"
     data-controller="gender-form"
     data-action='change-select@document->gender-form#fill_data'>
  <div class="field">
    <%= render 'templates/subkegiatan_card' %>
  </div>

  <%= render 'data_pembuka_wawasan' %>
</div>
