
<table class="table table-bordered">
  <tr>
    <td width="50px">Akses</td>

    <td><%= gender.akses %></td>
  </tr>
  <tr>
    <td width="50px">Partisipasi</td>

    <td><%= gender.partisipasi %></td>
  </tr>
  <tr>
    <td width="50px">Kontrol</td>

    <td><%= gender.kontrol %></td>
  </tr>
  <tr>
    <td width="50px">Manfaat</td>

    <td><%= gender.manfaat %></td>
  </tr>
</table>
