
<table class="table table-bordered">
  <tr>
    <td width="20%">Akses</td>

    <td><%= gender.akses %></td>
  </tr>
  <tr>
    <td width="20%">Partisipasi</td>

    <td><%= gender.partisipasi %></td>
  </tr>
  <tr>
    <td width="20%">Kontrol</td>

    <td><%= gender.kontrol %></td>
  </tr>
  <tr>
    <td width="20%">Manfaat</td>

    <td><%= gender.manfaat %></td>
  </tr>
</table>
