
<table class="table table-bordered">
  <tr>
    <td width="30px">Akses</td>

    <td class="text-wrap"><%= gender.akses %></td>
  </tr>
  <tr>
    <td width="30px">Partisipasi</td>

    <td class="text-wrap"><%= gender.partisipasi %></td>
  </tr>
  <tr>
    <td width="30px">Kontrol</td>

    <td class="text-wrap"><%= gender.kontrol %></td>
  </tr>
  <tr>
    <td width="30px">Manfaat</td>

    <td class="text-wrap"><%= gender.manfaat %></td>
  </tr>
</table>
