<div class="card border-2 shadow mb-3">
  <div class="card-body">
    <h5>Edit Gender Analysis Pathway</h5>
  </div>
</div>

<div class="form-field-container">
  <%= render 'form_edit_admin', gender: @gender, opd: @opd %>
</div>
