<nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
    <li class="breadcrumb-item">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit Gender Analysis Pathway</li>
  </ol>
</nav>
<div class="card border-2 shadow mb-3">
  <div class="card-body">
    <h5>Edit Gender Analysis Pathway</h5>
  </div>
</div>

<div class="form-field-container">
  <%= render 'form', gender: @gender, opd: @opd %>
</div>
<div class="card-body">
  <%= link_to gap_genders_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
