 <div class="topnav">
    <div class="container">
      <%= active_link_to "Lembaga", lembagas_path %>
      <%= active_link_to "OPD", opds_path %>
      <%= active_link_to "Program Kegiatan", program_kegiatans_path %>
      <%= active_link_to "User", users_path %>
    </div>
</div>