<%# ANCHOR -- Mobile navbar %>
<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <a class="navbar-brand me-lg-5" href="#">
    <span class="mt-1 ms-1 sidebar-text">E-KAK</span>
  </a>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<%# ANCHOR %>
<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar data-turbolinks-permanent data-turbolinks="true">
  <div class="sidebar-inner px-4 pt-3">
    <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
      <div class="d-flex align-items-center">
        <div class="d-block">
          <h2 class="h5 mb-3"><%= current_user.nama %></h2>
        </div>
      </div>
      <div class="collapse-close d-md-none">
        <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
          aria-expanded="true" aria-label="Toggle navigation">
          <i class="fas fa-times icon icon-xs"></i>
        </a>
      </div>
    </div>
    <ul class="nav flex-column pt-2 pt-md-0">
      <li class="nav-item">
        <%= link_to(root_path, class: "nav-link") do %>
          <span class="mt-1 ms-1 sidebar-text">E-KAK</span>
        <% end %>
      </li>
      <%= sidebar_items %>
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, {method: :delete, class: "nav-link d-flex justify-content-between"}  do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-sign-out-alt icon icon-xs me-2 text-danger"></i>
            </span>
            <span class="sidebar-text">Logout</span>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
