<li class="nav-item">
  <%= active_link_to(root_path, wrap_tag: :li, wrap_class: 'nav-item', active: :exact, class: "nav-link") do %>
    <span class="sidebar-icon">
      <i class="fas fa-chart-pie icon icon-xs me-2"></i>
    </span>
    <span class="sidebar-text">Dashboard</span>
  <% end %>
</li>
<%= render 'shared/item_perencanaan_opd' %>
<%= render partial: 'shared/sidebar_item', locals: { title: "Perencanaan OPD", items: perencanaan_opd_items , target: 'perencanaan-opd-items' } %>
<%= render partial: 'shared/sidebar_item', locals: { title: "Laporan", items: laporan_items , target: 'laporan-items' } %>
