<% reviewer_items.each do |reviewer_item| %>
  <li class="nav-item">
    <%= active_link_to( reviewer_item[:href], wrap_tag: :li, wrap_class: 'nav-item',class: "nav-link d-flex justify-content-between #{reviewer_item[:href] == '#' ? 'text-danger' : ''}") do %>
      <span>
        <span class="sidebar-icon">
          <i class="<%= reviewer_item[:icon] %> icon icon-xs me-2"></i>
        </span>
        <span class="sidebar-text"><%= reviewer_item[:title] %></span>
      </span>
    <% end %>
  </li>
<% end %>
