<%= active_link_to(root_path, wrap_tag: :li, wrap_class: 'nav-item', active: :exact, class: "nav-link") do %>
  <span class="sidebar-icon">
    <i class="fas fa-chart-pie icon icon-xs me-2"></i>
  </span>
  <span class="sidebar-text">Dashboard</span>
<% end %>
<%= active_link_to(user_path(current_user), wrap_tag: :li, wrap_class: 'nav-item', active: :exact, class: "nav-link") do %>
  <span class="sidebar-icon">
    <i class="fas fa-user icon icon-xs me-2"></i>
  </span>
  <span class="sidebar-text">Profil ASN</span>
<% end %>
<%= render partial: 'shared/sidebar_item', locals: { title: "Perencanaan", items: perencanaan_items, target: 'perencanaan-items' }, cached: true %>
<%= render partial: 'shared/sidebar_item', locals: { title: "Laporan", items: laporan_items , target: 'laporan-items' }, cached: true %>
